* {
    box-sizing: border-box;
    margin: 0
}

body {
    background-color: #d9dcd6;
}

header {
    display: flex;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Added Media Query for smaller screens to adjust navigation menu */
@media screen and (max-width: 1152px) {    
    nav ul li {
        padding-bottom: 18px;
    }
    header h1 {
        align-self:center;
    }
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

header nav {
    position: relative;
    padding-top: 15px;
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
    justify-content: right;
}

header nav ul li {
    display: inline-block;
    margin-left: 60px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content article {
    margin-bottom: 20px;
    padding: 50px;
    height: 315px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Added Media Query for smaller screens to adjust main content */
@media screen and (max-width: 840px) {    
    .content article {
        height: auto;
    }
    .content article img {
        margin: 20px 50px 20px 25px;
    }
}

.content article img {
    max-height: 200px;
}

.content article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.benefits {
    margin-right: 20px;
    padding: 10px 20px 15px 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Added Media Query for smaller screens to improve visuals of content and benefits*/
@media screen and (max-width: 1004px) {    
    .content, .benefits {
        float: none;
        width: 90%;
    }
    .benefits {
        margin-left: 20px;
    }
}

.general-benefits {
    margin-bottom: 22px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Put together two classes with same code */
.benefit-brand h3, .benefit-cost h3 {
    margin: 60px 0px 5px 0px;
    text-align: center;
}

/* Grouped in .general-benefits article img */
.general-benefits article img {
    display: block;
    margin: auto;
    max-width: 150px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}